* {
    box-sizing: border-box;
  }

h1 {
    color: grey;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    color: #084374;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.navbar-brand{
    text-align: center;
}


.btn {
background-color: yellowgreen;
color: #084374;

}

.imgDisplay{
width: 150px;
height: 150px;

}

.resName::before{
  content: "\a";
  white-space: pre;
}

.tagLine {
    text-align: center;
    background-color: #084374;
    color: white;
    font-family: 'BenchNine', sans-serif;
    width: 100%;
    height: 50px;
    padding-top: 7px;
  margin: 0px;
}

.container-fluid {
background-image: linear-gradient(rgb(170, 165, 165), yellowgreen, #0b5b9c);
width: 100vw;
height: 100vh;
background-position: center;
position: absolute;
}

.column {
    float: left;
    width: 100%;
   height: 750px; 
   position: relative;
  
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  img {
      height: 750px;
      width: 100%;
      z-index: 1;
      margin: 0px;
  }
    
    h2 { 
        z-index: 2;
        position: relative;
margin-left: 170px;
padding-top: 0px;
color: #ad3a0c;
font-family: 'Lobster', cursive;
    }

#event-form {
    width: 50%;
    height: auto;
    /* z-index: 2; */
    /* margin-right: 50px; */
    position: relative;
}

#find-venue {
  width: 100%;
    height: auto;
    /* z-index: 2; */
    /* margin-right: 50px; */
    position: relative;
}


.display-3 {
    text-align: center;
    background-color:#084374;
    color: white;
    padding: 10px;
    font-family: 'BenchNine', sans-serif;
    
}
        
.custom-control-label {
    color:  #0b5b9c;
}

.TorT {
    font-family: 'Lobster', cursive;
    color: yellowgreen;
}


#lastrow {
    width: 100%;
      background-color:  #084374;
      height: 50px;
      color:yellowgreen;
      text-align: center;
     bottom: 0;
     position: fixed;
     padding-top: 10px;
    }

    /* Hide default input */
.toggle input {
    display: none;
  }
  
  /* The container and background */
  .toggle {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 30px;
    
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #eb10d8; */
    border: 1px solid #aaa;
    border-radius: 5px;
    transition: all 0.4s;
  }
  
  /* The sliding button */
  .slider:before {
    position: absolute;
    content: "";
    width: 38px;
    height: 24px;
    left: 1px;
    top: 2px;
    background-color: rgb(121, 120, 120);
    border-radius: 5px;
    transition: all 0.4s;
  }
  
  /* On checked */
  /* input:checked + .slider {
    background-color: #0c45e2;
  } */
  input:checked + .slider:before {
    transform: translateX(40px);
  }

/* "OFF" Text */
.slider:after {
    position: absolute;
    content: "Venue";
    top: 6px;
    right: 6px;
    /* color: #fff; */
    font-size: 0.7em;
  }
  
  /* "ON" Text */
  input:checked + .slider:after {
    content: "Event";
    left: 5px;
  }
